php_flag engine off
RewriteEngine on

RewriteCond %{REQUEST_URI} /tg/app.appcache
RewriteRule . app.appcache [L]

RewriteCond %{REQUEST_URI} /tg/f.ico
RewriteRule . f.ico [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.html [L]